.one-ad{
    &_container{
        margin: 20px 15px 10px;
        display: flex;
        justify-content: space-between;
    }
    &_leftside{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        gap: 20px;
    }
    &_photos{
        display: flex;
        align-content: center;
        //width: 100%;
        align-items: center;
        justify-content: center;
        
        .main-photo{
            height: 400px;  
        }
      
    }
    &_info{
        width: 50%;
        .name{
            font-size: 24px;
        }
        .hometype{
            display: flex;
        }
        .description{
            gap: 10px;
            margin-top: 15px;
            display: flex;
            align-items: baseline;
            &_card{
                width: 90%;
            }
        }

        button{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 50%;
            justify-content: center;
        }
       
        .active_button{
            background-color: #FFA726;
        }
    }
}