.account-container {
  height: 90vh;
  .sidenav-bar{
    background-color: aliceblue;
    }
}
   /*  .expansion-panel-container {
        background-color: aliceblue;
        width: 40%;

    }

    .info-container {
        width: 55%;
    } */

.content {
  display: flex;
  margin: 2rem 0 1rem;
  padding-left: 1rem;
  gap: 20px;
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  
    margin-right: 0rem;
    min-inline-size: 10rem;
    inline-size: 15rem;
    .account-btn{
      margin-top: 0;
      padding: 1rem 0.6rem;
      width: 100%;
    }
  }

  .info-container {
        width: 80%;
    }

}

