<form  [formGroup]="secondStepGroup" class="second-step-container">
   <tui-textfield multi tuiChevron [stringify]="propertiesStringify">
        <label tuiLabel>Препочтения</label>
        <input 
            tuiInputChip
            tuiSelectLike
            formControlName="properties" 
            placeholder="Выберите город"/>
        <tui-data-list *tuiTextfieldDropdown tuiMultiSelectGroup>
            @for(item of properties; track item.id){
                <button
                    new
                    tuiOption
                    type="button"
                    [value]="item"
                >{{ item.label }}
                </button>
            }
        </tui-data-list>
    </tui-textfield>
    <div class="new-ad-field-container">
        <tui-input-range class="half"
            [min]='minAge'
            [max]='maxAge'
            formControlName="coliverAge"
        >
            <label tuiLabel>Возраст коливера</label>
        </tui-input-range>

        <tui-textfield tuiChevron [stringify]="stringifyGenderColivers" class="half">
                <input
                    tuiSelect
                    formControlName="coliversGender"
                    placeholder="Выберите пол будующего коливера"
                />

                <tui-data-list *tuiTextfieldDropdown>
                    <button
                        *ngFor="let item of genderOptions"
                        new
                        tuiOption
                        type="button"
                        [value]="item.gender"
                    >
                        {{ item.label }}
                    </button>
                </tui-data-list>
        </tui-textfield>
    </div>

    <tui-textfield>
        <label tuiLabel>Дополнительная информация</label>
        <textarea
            placeholder="Введите допольнительную информацию"
            tuiTextarea
        ></textarea>
    </tui-textfield>

    <div class="new-ad-field-container">
        <button type="button" tuiButton class="half">
                Назад
        </button>
    
        <button type="button" tuiButton class="half">
            Сохранить
        </button>
    </div>
</form>

