<form  [formGroup]="secondStepGroup">
   <tui-textfield tuiChevron [stringify]="propertiesStringify">
        <label tuiLabel>Препочтения</label>
        <input tuiSelect formControlName="properties" placeholder="Выберите город"/>
        <tui-data-list *tuiTextfieldDropdown>
            @for(item of citiesComputed(); track item.id){
                <button
                    new
                    tuiOption
                    type="button"
                    [value]="item"
                >{{ item.name }}
                </button>
            }
        </tui-data-list>
    </tui-textfield>

    <tui-textfield
            multi
            tuiChevron
            [stringify]="metroName"
    >
        <label tuiLabel>Возраст</label>
        <input
            tuiInputChip
            tuiSelectLike
            [placeholder]="Возраст будующего коливера"
            formControlName="coliverAge"
        />
        <tui-data-list
            *tuiTextfieldDropdown
            tuiMultiSelectGroup
            
        >
        <tui-input-range
            [max]="max"
            [min]="min"
           
        >
            <label tuiLabel>Type number like a German</label>
        </tui-input-range>

        </tui-data-list>
    </tui-textfield>

</form>

