<!--<mat-toolbar>-->
<!--    <button mat-icon-button class="example-icon" (click) = 'toHome()'>-->
<!--      <mat-icon>home</mat-icon>-->
<!--    </button>-->

<!--    <span class="example-spacer"></span>-->

<!--    <ng-container *ngIf="!(isAuthUser | async); else authUser">-->
<!--      <button mat-button class="example-icon favorite-icon" (click) = 'toRegistration()'>-->
<!--        Зарегистрироваться-->
<!--      </button>-->
<!--      <button mat-button class="example-icon" (click) = 'toLogin()'>-->
<!--        Авторизоваться-->
<!--      </button>-->
<!--    </ng-container>-->

<!--    <ng-template #authUser>-->

<!--      <button mat-mini-fab (click)="toFavorites()" >-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->

<!--      <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 10px;">-->
<!--        <mat-icon>more_vert</mat-icon>-->
<!--      </button>-->
<!--      <mat-menu #menu="matMenu">-->
<!--        <button mat-menu-item (click) = 'toAccount()'>-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--          <span>Личный кабинет</span>-->
<!--        </button>-->
<!--        <button mat-menu-item (click) = 'logOut()'>-->
<!--          <mat-icon>exit_to_app</mat-icon>-->
<!--          <span>Выйти</span>-->
<!--        </button>-->

<!--      </mat-menu>-->
<!--    </ng-template>-->

<!--</mat-toolbar>-->
<div class="bar-container">
  <div class="logo-container" (click)='toHome()'>
    <tui-icon
    class="logo-container_icon"
    [style.color]="'#FFA726'"
    icon="@tui.house"
    
    >
    </tui-icon>
    <span class="logo-container_name">Coliver</span>
  </div>



  @if(isAuthUser|async){
    <div class="auth-user-btns">
    <button
      tuiButton
      appearance="flat"
      iconStart="@tui.heart"
      [style.color]="'#FFA726'"
      (click)='toFavorites()'
    >
    </button>
    <button
      class="menu"
      appearance="flat"
      iconStart="@tui.fa.regular.bell"
      tuiSlot="right"
      tuiButton
      tuiDropdownAlign="center"
      tuiDropdownLimitWidth="auto"
      type="button"
      [tuiAppearanceState]="open ? 'active' : null"
      [tuiDropdown]="dropdown"
      tuiDropdownDirection="bottom"
      [(tuiDropdownOpen)]="open"
      [style.color]="'#FFA726'"
    >
    </button>
    <ng-template
      #dropdown
      let-close
    >
    <notification></notification>
    <!--   <tui-data-list>
        <tui-opt-group>
          <button
            tuiOption
            type="button"
            (click)="toAccount()"
          >
            Личный кабинет
          </button>
          <button
            tuiOption
            type="button"
            (click)="logOut()"
          >
            Выйти
          </button>
        </tui-opt-group>
      </tui-data-list> -->
    </ng-template>
    <button
      tuiButton
      appearance="flat"
      iconStart="@tui.fa.regular.comment"
      type="button"
      [style.color]="'#FFA726'"
      (click)='toChat()'></button>

      <tui-avatar
        (click)="toAccount()"
          appearance="negative"
          src="@tui.user"
          size="m"
        />
    
    </div>
  }
  
  @else{
  <!-- <button

    tuiButton
    tuiSlot="right"
    type="button"
    (click)='toRegistration()'
  > 
    Зарегистрироваться
  </button>-->
  <button
  style="height: 6vh; margin-right: 1%;"
    tuiButton
    tuiSlot="right"
    type="button"
    (click)='toLogin()'
  >
    Авторизоваться
  </button>
  }
</div>
