<div><p>Наши пользователи – это наше все, и мы придаем высочайшее значение их приватности и безопасности. Все меры,
  которые мы предпринимаем, направлены на то, чтобы защитить личную информацию наших пользователей.</p>

  <p>Мы строго соблюдаем все законы о защите данных и принимаем меры безопасности, чтобы предотвратить
    несанкционированный доступ, утечки или использование личной информации наших пользователей. Мы не продаем, не
    обмениваем и не передаем никакие личные данные третьим лицам.</p>
  <p>Мы призываем всех наших пользователей использовать предоставленную информацию ответственно и с уважением к другим.
    Нарушение правил конфиденциальности и безопасности может привести к немедленной блокировке аккаунта и применению
    других мер, предусмотренных нашими правилами использования.</p>

  <p>Мы постоянно работаем над совершенствованием наших систем и процессов, чтобы обеспечить максимальную приватность и
    безопасность для всех наших пользователей. Ваше доверие к нам важно, и мы делаем все возможное, чтобы его
    оправдать.</p>
</div>
