<div class="review-container">
   <div class="review-header">
        <h2>Отзывы</h2>
    </div>

    <div class="review-body">
        @for(review of reviews; track review.id) {
            <div class="review-item">

                <div class="review-item_photo"></div>

                <div class="review-item_content">
                    <div class="review-item_header">
                        {{ review.name }}, {{ review.age }} лет 
                        <div class="review-stars">
                            @for(i of [1,2,3,4,5]; track i){
                                <tui-icon 
                                    [icon]="i <= review.rating ? '@tui.fa.solid.star' : '@tui.fa.regular.star'"
                                    [style.color]="'#FFA726'"
                                />
                            }
                        </div>
                    </div>
                    <div class="review-item_text">{{ review.text }}</div>
                </div>
                
            </div>
        
        }@empty{
            <div class="no-reviews">
                <p>Нет отзывов</p>
            </div>
        }
    </div> 
    <div class="users-review">
            <div class="review-stars">
                @for(i of [1,2,3,4,5]; track i){
                	<tui-icon 
                        [icon]="i <= (hoveredStar || selectedStar) ? '@tui.fa.solid.star' : '@tui.fa.regular.star'"
                        [style.color]="'#FFA726'"
                        (mouseenter)="hoveredStar = i"
                        (mouseleave)="hoveredStar = null"
                        (click)="selectedStar = i"
                    />
                }
            </div>

            <tui-textfield iconEnd="@tui.send">
                <label tuiLabel>Отзыв</label>
                <textarea
                    placeholder="Оставьте отзыв..."
                    tuiTextarea
                ></textarea>
            </tui-textfield>
    </div>
</div>
