<div class="person-info-container">

    <ng-container *ngFor="let item of userFields">
  <!-- Без вложенных -->
  <info-container
    *ngIf="!item.children"
    [label]="item.label"
    [value]="userDataFromServer[item.key]">
  </info-container>

  <!-- С вложенными -->
  <info-container *ngIf="item.children" [label]="item.label">
    <div >
      <info-container 
        *ngFor="let child of item.children"
        [label]="child.label"
        [value]="userDataFromServer[child.key]">
      </info-container>
    </div>
  </info-container>
</ng-container>

</div>