<div class="person-info-container">
    <div class="info-item">
        <div class="info-name-container">Дата переезда</div>
        <div class="info-data-container"></div>
    </div>

    <div class="info-item">
        <div class="info-name-container">Привычки и увлечения</div>
        <div class="info-data-container"></div>
    </div>

    <div class="info-item">
        <div class="info-name-container">О будущем соседе</div>
        <div class="info-data-container"></div>
    </div>

    <div class="info-item">
        <div class="info-name-container">Описание</div>
        <div class="info-data-container">hhsfdddddddddddddddddddddddddddddddddddddd*9jkhjfbfjhfhjfhjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjdf</div>
    </div>

</div>