<!--<div class="filter-container">-->
<!--  <form [formGroup]="filterForm">-->
<!--    <mat-accordion multi="false" class="filter-container__form">-->
<!--      &lt;!&ndash;            <mat-expansion-panel>&ndash;&gt;-->
<!--      &lt;!&ndash;                <mat-expansion-panel-header>&ndash;&gt;-->
<!--      &lt;!&ndash;                  <mat-panel-title> Выберите предпочтения </mat-panel-title>&ndash;&gt;-->
<!--      &lt;!&ndash;                </mat-expansion-panel-header>&ndash;&gt;-->
<!--      &lt;!&ndash;                <div style="display: flex; flex-direction: column;">&ndash;&gt;-->
<!--      &lt;!&ndash;                    @for (preference of allPreferences; track preference) {&ndash;&gt;-->
<!--      &lt;!&ndash;                        <mat-checkbox&ndash;&gt;-->
<!--      &lt;!&ndash;                        (change)="updatePreference(preference.value, $event.checked)">&ndash;&gt;-->
<!--      &lt;!&ndash;                        {{ preference.display }}&ndash;&gt;-->
<!--      &lt;!&ndash;                    </mat-checkbox>&ndash;&gt;-->
<!--      &lt;!&ndash;                    }&ndash;&gt;-->
<!--      &lt;!&ndash;                </div>&ndash;&gt;-->
<!--      &lt;!&ndash;            </mat-expansion-panel>&ndash;&gt;-->

<!--      &lt;!&ndash; Местоположение &ndash;&gt;-->

<!--    </mat-accordion>-->
<!--  </form>-->


<!--</div>-->
<div class="filter-container">
  <form
      tuiForm="l"
      [formGroup]="filterForm"
  >

    <fieldset>

      <div class="form-stack">
        <tui-accordion>
          <button tuiAccordion>Предпочтения</button>
          <tui-expand class="form-age">
            <label tuiLabel>
              <input
                  tuiCheckbox
                  type="checkbox"
                  formControlName="smoking"
              />
              Не курит
            </label>
            <label tuiLabel>
              <input
                  tuiCheckbox
                  type="checkbox"
                  formControlName="alcohol"
              />
              Не пьет
            </label>
            <label tuiLabel>
              <input
                  tuiCheckbox
                  type="checkbox"
                  formControlName="petFriendly"
              />
              Не против животных
            </label>
            <label tuiLabel>
              <input
                  tuiCheckbox
                  type="checkbox"
                  formControlName="isClean"
              />
              Чистоплотный
            </label>


          </tui-expand>
        </tui-accordion>
      </div>
      <div class="form-stack">

        <tui-accordion>
          <button tuiAccordion>Укажите возраст</button>
          <tui-expand class="form-age">
            <tui-input-range
                [max]="maxAge"
                [min]="minAge"
                formControlName="age"
                [quantum]="quantum"
                [steps]="stepsAge"
                [tuiTextfieldLabelOutside]=true
                class="form-input-range"
            >
            </tui-input-range>

          </tui-expand>

        </tui-accordion>

      </div>
      <div class="form-stack">
        <tui-accordion>
          <button tuiAccordion>Укажите цену</button>
          <tui-expand class="form-budget">
            <tui-input-range
                formControlName="price"
                [max]="maxPrice"
                [min]="minPrice"
                [quantum]="quantum"
                [steps]="stepsBudget"
                class="form-input-range"
                [tuiTextfieldLabelOutside]=true
            >
            </tui-input-range>

          </tui-expand>
        </tui-accordion>

      </div>
      <div class="form-stack">
        <button
            size="l"
            tuiButton
            type="button"
            (click)="openFilterDialog()"
        >
          Локация
        </button>
      </div>
      <div class="form-stack">
        <button
            appearance="outline"
            tuiButton
            type="button"
            size="l"
            (click)="submitForm()"
        >
          Найти
        </button>
      </div>
      <div class="form-stack">
        <button
            appearance="outline"
            tuiButton
            type="button"
            size="l"
            (click)="toCleanForm()"
        >
          Сбросить
        </button>
      </div>


    </fieldset>

  </form>
</div>

