
  
  <form  [formGroup]="flatForm" class="rent-container">
    <city-subway [city]="cityControl" [metro]="metroControl"></city-subway>

     <tui-textfield>
        <label tuiLabel>Улица, дом</label>
        <textarea
            placeholder="Введите улицу и дом"
            formControlName="address"
            tuiTextarea
        ></textarea>
    </tui-textfield>

    <div class="new-ad-field-container">   
        <tui-textfield class="half">
            <label tuiLabel>Общее количество комнат</label>
                <input
                    tuiInputNumber
                    placeholder="Укажите количество комнат в квартире"
                    formControlName="roomsCount"
                    [min]="1"
                    [step]="1"
                />
        </tui-textfield>

        <tui-textfield class="half">
            <label tuiLabel>Количество свободных комнат</label>
                <input
                    tuiInputNumber
                    placeholder="Укажите количество свободных комнат в квартире"
                    formControlName="freeRoomsCount"
                    [min]="1"
                    [step]="1"
                />
        </tui-textfield>

    </div>

    <div class="new-ad-field-container">   
        <tui-textfield class="half">
            <label tuiLabel>Количество проживающих в квартире</label>
                <input
                    tuiInputNumber
                    placeholder="Укажите количество людей, проживающих в квартире"
                    formControlName="coliversCount"
                    [min]="1"
                    [step]="1"
                />
        </tui-textfield>

        <tui-textfield tuiChevron [stringify]="stringifyGenderColivers" class="half">
            <input
                tuiSelect
                formControlName="coliversGender"
                placeholder="Выберите пол, проживающих в квартире"
            />

            <tui-data-list *tuiTextfieldDropdown>
                <button
                    *ngFor="let item of genderList"
                    new
                    tuiOption
                    type="button"
                    [value]="item.gender"
                >
                    {{ item.label }}
                </button>
            </tui-data-list>
        </tui-textfield>
    </div>



    <div class="new-ad-field-container">
        <budget [budget] = 'budgetControl' class="half"></budget>
        <moving-date [moveDate] = 'moveDateControl' class="half"></moving-date>
    </div> 
  </form>
