<div class="registration-container">
  <div tuiCardLarge class="registration-card">
    <header tuiHeader class="registration-header">
      <h1>Регистрация</h1>
      <p>{{ isFirstStep ? 'Шаг 1 из 2: Учетные данные' : 'Шаг 2 из 2: Личная информация' }}</p>
    </header>

    <form [formGroup]="registrationForm" class="registration-form">
      <!-- Шаг 1: Учетные данные -->
      <ng-container *ngIf='isFirstStep' formGroupName="firstStep">
        <div class="field-wrapper">
          <tui-input
            formControlName="email"
            tuiTextfieldSize="l"
          >
            Почта *
            <input tuiTextfieldLegacy type="email" placeholder="example@mail.com" />
          </tui-input>
          <tui-error
            [error]="['email'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <div class="field-wrapper">
          <tui-input
            formControlName="phone"
            tuiTextfieldSize="l"
          >
            Телефон *
            <input tuiTextfieldLegacy type="tel" placeholder="+7 (999) 123-45-67" />
          </tui-input>
          <tui-error
            [error]="['phone'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <div class="field-wrapper">
          <tui-input-password
            formControlName="password"
            tuiTextfieldSize="l"
          >
            Пароль *
          </tui-input-password>
          <tui-error
            [error]="['password'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <button
          tuiButton
          type="button"
          size="l"
          appearance="primary"
          (click)="nextStep()"
          [disabled]="registrationForm.get('firstStep')?.invalid"
          class="submit-button"
        >
          Далее
          <tui-icon icon="@tui.chevron-right" />
        </button>
      </ng-container>

      <!-- Шаг 2: Личная информация -->
      <ng-container *ngIf='!isFirstStep' formGroupName="secondStep">
        <div class="field-wrapper">
          <tui-input
            formControlName="name"
            tuiTextfieldSize="l"
          >
            Имя *
            <input tuiTextfieldLegacy placeholder="Введите ваше имя" />
          </tui-input>
          <tui-error
            [error]="['name'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <div class="field-wrapper">
          <tui-input-date
            formControlName="age"
            tuiTextfieldSize="l"
          >
            Дата рождения *
          </tui-input-date>
          <tui-error
            [error]="['age'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <div class="field-wrapper">
          <tui-select
            formControlName="gender"
            tuiTextfieldSize="l"
            [stringify]="stringifyGender"
          >
            Пол *
            <tui-data-list-wrapper
              *tuiDataList
              [items]="genderOptions"
              [itemContent]="genderContent"
            ></tui-data-list-wrapper>
          </tui-select>
          <tui-error
            [error]="['gender'] | tuiFieldError | async"
          ></tui-error>
        </div>

        <ng-template #genderContent let-item>
          {{ item.label }}
        </ng-template>

        <div class="button-group">
          <button
            tuiButton
            type="button"
            size="l"
            appearance="secondary"
            (click)="prevStep()"
          >
            <tui-icon icon="@tui.chevron-left" />
            Назад
          </button>
          <button
            tuiButton
            type="button"
            size="l"
            appearance="primary"
            (click)="onSubmit()"
            [disabled]="registrationForm.get('secondStep')?.invalid"
          >
            Зарегистрироваться
          </button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
