<!--<mat-card class="ad-card" appearance="outlined" (click) = 'toAdPage()'>-->
<!--    <img mat-card-image [src]="ad?.photoUrl" alt="User Photo" class="ad-card-image"/>-->
<!--    <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>{{ad?.ad!.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>{{ad?.ad!.age}} года</mat-card-subtitle>-->
<!--    </mat-card-header>-->

<!--    <mat-card-content class="ad-card-content">-->
<!--        <div class="text-xs">-->
<!--            Город {{ad?.ad!.city!.name}},-->
<!--            <div class="metro">м.-->
<!--                <ng-container *ngFor="let metroStation of ad?.ad!.metro">-->
<!--                     {{metroStation?.name}}-->
<!--                </ng-container>-->
<!--            </div>-->
<!--        </div>-->
<!--        <p class="ml-auto mr-0">Бюджет {{ad?.ad!.budget}}</p>-->
<!--        <p class="ad-description">{{ad?.ad!.description}}</p>-->
<!--    </mat-card-content>-->

<!--    <mat-card-actions>-->
<!--        <button mat-icon-button *ngIf ='ad?.ad?.isFavorite' (click)="removeFavorites(ad?.ad!.id)">-->
<!--            <mat-icon>favorite</mat-icon>-->
<!--        </button>-->
<!--      <button mat-icon-button *ngIf ='!ad?.ad?.isFavorite' (click)="toFavorites(ad?.ad!.id)">-->
<!--        <mat-icon>favorite_outline</mat-icon>-->
<!--      </button>-->
<!--    </mat-card-actions>-->
<!--</mat-card>-->
<div
  tuiAppearance="floating"
  tuiCardLarge
  style="gap: 10px; max-height: 80vh; max-width: 24vw; cursor: pointer;"
 (click) = 'toAdPage()'
>
  <img [src]="ad?.photoUrl" alt="User Photo" class="ad-card-image"/>
  <header tuiHeader class="ad-card-header">
    <div class="title-wrapper">
    <h2 class="ad-name">{{ ad?.ad!.name }}, </h2>
    <h2 class="coliver-age">{{ ad?.ad!.age | ageWord}}</h2>
  </div>
  </header>

  <section >
    <div class="text-xs">
      <div class="start-body-container">
        <div>г. {{ ad?.ad!.city!.name }},</div>
        <div class="ml-auto mr-0">{{ ad?.ad!.budget }} р/месяц</div>
      </div>
      
      <div class="metro">
        <ng-container *ngFor="let metroStation of ad?.ad!.metro">
          <tui-chip>#{{ metroStation?.name }}</tui-chip>
        </ng-container>
      </div>
    </div>
    <p class="ad-description">{{ ad?.ad!.description }}</p>
  </section>

  <footer *ngIf="isAuth">
    <tui-icon
    style=" margin-left: auto;"
     [style.color]="'#FFA726'"
      icon="@tui.fa.regular.heart"
      *ngIf='!ad?.ad?.isFavorite'
      (click)="toFavorites(ad?.ad!.id, $event)"
    >
    </tui-icon>
    <tui-icon
    style=" margin-left: auto;"
      icon="@tui.fa.solid.heart"
      [style.color]="'#FFA726'"
      *ngIf='ad?.ad?.isFavorite'
      (click)="removeFavorites(ad?.ad!.id, $event)"
    >
    </tui-icon>
  </footer>
</div>
