.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(0, 0, 0, 0.04);

    .close-icon {
      color: #333;
    }
  }

  &:active {
    background: rgba(0, 0, 0, 0.08);
  }
}

.close-icon {
  color: #777;
  font-size: 20px;
  width: 20px;
  height: 20px;
  transition: color 0.2s ease;
}
