
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@taiga-ui/core/styles/taiga-ui-local' as tui;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$coliver-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($coliver-theme);
  --tui-background-accent-1: #FFA726;
  --tui-text-action-hover: #ffa8269a;
 --tui-background-accent-1-hover: #ffa8269a;
 --tui-background-base: #FFFEFA;
     --tui-text-action: #FFA726;
}


// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($coliver-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($coliver-theme);
/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #FFFEFA;
}
.no-margin-left {
  margin-left: 0 !important;
}

.ad-info-container{
   
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-bottom:  1px solid #e1e1e1;
    border-left:  1px solid #e1e1e1;
    border-right:  1px solid #e1e1e1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap:10px;
  align-items: center;
  .info-name-container{
    border: 1px solid #FFA726;
    border-radius: 5px;
    width: 45%;
    height: 6vh;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .info-data-container{
    border: 1px solid #bdb8af;
    border-radius: 5px;
    width: 45%;
    min-height: 6vh;
    padding-left: 10px;
    display: flex;
    align-items: center;
    word-break: break-all;
  }

  /* :host {
    --tui-font-text: 'Comic Sans MS', cursive;
    --tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
    --tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
    --tui-background-accent-1: #c86dd7;
    --tui-background-accent-1-hover: #a456b1;
    --tui-background-accent-1-pressed: #7f3b8a;
    --tui-text-primary-on-accent-1: #fff;
    --tui-radius-s: 0;
    --tui-radius-m: 0.25rem;
    --tui-height-l: 4.375rem;
} */

}

.fill-center-btn{
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.6rem;
  width: 60%;
  background-color: #FFA726;
  border-radius: 5px;
  border: 1px solid #FFA726;
  color: #ffffff;
  font-size: large;
}

.coliver-btn{
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #e1e1e1;
  color: black;
  font-size: large;
  &_active{
    background-color: #FFA726;
    border: 1px solid #FFA726;
    color: #ffffff;
  }
}

.disabled-btn{
  opacity: 0.5;
}