.account-info-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    &__image{
        img{
            width: 400px;
            border-radius: 50%; /* Круглая картинка */
            margin-right: 20px;
        }
    }
    &__name{
        flex-grow: 1;
        font-size: large;
        flex-shrink: 1;
    }
}

.account-info-items{
    min-width: 95%;
}

